@model Assignment1.Models.Obituary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Obituary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeath)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biography)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biography)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryPhotoBase64)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryPhotoBase64)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAtUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAtUtc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
